@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Joel Hilton Film Collection</h1>
    <img src="~/img/JoelHiltonHeadshot.png" alt="Joel Hilton" class="img-fluid rounded mt-3 mb-3" style="max-height: 400px;" />
    <p class="lead mt-4">This site is dedicated to Joel Hilton's movie collection. Add your favorite movies and explore the collection!</p>
    <div class="mt-4">
        <a asp-controller="Movie" asp-action="AddMovie" class="btn btn-primary btn-lg me-2">Add a Movie</a>
        <a asp-controller="Movie" asp-action="MovieList" class="btn btn-secondary btn-lg">View My Movies</a>
    </div>
</div>